#logo{
  font-weight: bold;
  font-family: monospace;
  font-size: 36px;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #B8B8B8;

}

ul {
  padding: 0;
  list-style-type: none;
}

form {
  margin: 0 auto;
}

legend {
  font-size:36px;
  font-weight:bold;
}
