{% load static %}
{% load cart_tag %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">

    <title>Hello</title>
</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark border-bottom border-3 border-success">
    <div class="container" id="topnav">
    <span id="logo" class="navbar-text">Broken Parts</span>

    <ul class="navbar-nav fontNavbarTop">
    {% if request.user.is_authenticated %}

      <li class="nav-item dropdown mr-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{ request.user.username}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'user' %}">Account</a>
          <a class="dropdown-item" href="#">Orders</a>
        </div>
      </li>

      <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>

    {% else %}
      <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link text-danger" href="{% url 'cart_detail' %}">
        <i class="fa fa-shopping-cart text-secondary" aria-hidden="true"></i>{{ request.session.cart|length }}</a>
      </li>

    </ul>
    </div>
  </nav>

  <main role="main" class="container-fluid">
    <div class="row">

        {% block content %}
        {% endblock %}


    </div>

  </main>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  </body>

  </html>
