{% extends "shop/base.html" %}

{% block navbar %}
  {% include "shop/navbar_top.html" %}
{% endblock %}

{% block content %}

{% include "shop/side_bar_left.html" %}

<div class="container col-9 mt-2 mx-auto">
  <div class="row">

    {% for product in products %}

    <div class="col-md-4 mt-4">
      <div class="card">
        <img class="card-img-top mx-auto" src="{{ product.image.url }}">
        <div class="card-block">
          <h4 class="card-title ml-2">{{ product.name }}</h4>
          <p class="card-text ml-2">Price: {{ product.price }}</p>
          <a href="{% url 'shop_product_detail' product.slug %}" class="btn btn-info btn-block">DETAILS</a>
        </div>
      </div>
    </div>


    {% endfor %}


   {% endblock %}
