
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-3 border-secondary">
  <a href="{% url 'shop_index' %}"><span id="logo" class="navbar-text">Broken Parts</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form action="{% url 'shop_search' %}" method="GET" class="form-inline my-2 my-lg-0">
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <input name="sort" type="hidden" value="-date_created">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto fontNavbarTop" style="margin-right: 100px;">
      {% if request.user.is_authenticated %}

      <li class="nav-item active dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user' %}">Account</a>
          <a class="dropdown-item" href="#">Orders</a>
          <div class="dropdown-divider" style="border-color:black;"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>

      {% else %}

      <li class="nav-item active mr-5">
        <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
      </li>

      {% endif %}

      <li class="nav-item active mr-5">
        <a class="nav-link text-danger" href="{% url 'cart_detail' %}">

          <i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
            {% if request.session.cart|length > 0 %}
              {{ request.session.cart|length }}
            {% endif %}
          <span class="sr-only">(current)</span></a>
      </li>

    </ul>

  </div>
</nav>
