{% extends "shop/base.html" %}

{% block navbar %}
  {% include "shop/navbar_top.html" %}
{% endblock %}

{% block content %}

{% include "shop/side_bar_left.html" %}

<div class="container col-8 mx-auto pb-3 mt-5">

  <div class="row">

    <div class="col-12">
      {{ product.subcategory }}
    </div>

    <div class="col-md-6 border-bottom border-secondary border-3 pb-3">
        <img class="img-fluid w-100" src="{{ product.image.url }}">
    </div>

    <div class="col-md-6 border-bottom border-secondary border-3 pb-3">

        {% include "review/star_rating.html" %}
        <br>
        <a class="" href="javascript:reviews()">customer reviews ({{ product.reviews.all|length }})</a>
        <br>

        {% if request.user.is_authenticated %}

          {% if reviewed %}
            <a class="" href="javascript:writeReview()">edit your review</a>
          {% else %}
            <a class="" href="javascript:writeReview()">write a review</a>
          {% endif %}

        {% endif %}

        <h5 class="mt-3">{{ product.name }}</h5>
        <p>€{{ product.price }}</p>
        <p class="">{{ product.description }}</p>

        <div class="bottom-div mb-3 ml-3">
            <h1><a href="{% url 'cart_add_item' product.id %}">Add to cart</a></h1>
        </div>

    </div>

    <div class="col-md-8 pb-3 mx-auto mt-4" id="reviews_div" style="display: none;">

      {% for review in product.reviews.all %}
      <div class="border-bottom border-secondary text-center mt-3">

        <div class="row">

          <div class="col-md-4 mx-auto">
            <p class="text-muted">{{ review.author }}</p>
          </div>

          <div class="col-md-4 mx-auto">
            {% for i in "12345" %}
              {% if forloop.counter <= review.rating %}
                <i class="fa fa-star" style="color:yellow; margin-left:4px;"></i>
              {% else %}
                <i class="fa fa-star" style="color:black; margin-left:4px;"></i>
              {% endif %}
            {% endfor %}
          </div>

          <div class="col-md-4 mx-auto">
            {% if review.date_updated %}
              <p class="text-muted">(edited): {{ review.date_updated|date:"M d, Y" }}</p>
            {% else %}
              <p class="text-muted">{{ review.date_added }}</p>
            {% endif %}
          </div>
        </div>

        <p class="lead">{{ review.comment }}</p>

      </div>
      {% endfor %}

    </div>

    {% if request.user.is_authenticated %}

      {% if reviewed %}
        {% include "review/edit_review.html" %}
      {% else %}
        {% include "review/add_review.html" %}
      {% endif %}

    {% endif %}

  </div>

</div>


{% endblock %}
