{% extends "shop/base.html" %}

{% block navbar %}
  {% include "shop/navbar_top.html" %}
{% endblock %}

{% block content %}

{% include "shop/side_bar_left.html" %}

<div class="container">

  <div class="text-center text-black mb-5 mt-3">
    <h3>Search result for "{{ search_query }}"</h3>
  </div>

  <div class="row">

    <div class="col-lg-8 mx-auto form-inline pl-5 pr-2">
      <p class="lead mb-0">{{ products|length }} results found</p>

      {% if products|length > 1 %}
      <ul class="navbar-nav ml-auto mr-3">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">sort by</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <form id="columnarForm" action="" enctype="multipart/form-data" method="GET">

            <input type="hidden" name="search" value="{{ search_query }}">
            <button class="dropdown-item" type="submit" value='price' name="sort" >Price low->high</button>
            <button class="dropdown-item" type="submit" value='-price' name="sort"">Price high->low</button>
            <button class="dropdown-item" type="submit" value='-date_created' name="sort">Newest</button>

            </form>
          </div>
        </li>

        </ul>
      {% endif %}
      </div>
    </div>


  <div class="row">

    <div class="col-lg-8 mx-auto pl-5 pr-2">

      <ul class="list-group">
        {% for product in products %}
        <li class="list-group-item mb-3">

          <div class="media align-items-lg-center flex-column flex-lg-row p-3">

            <div class="media-body order-2 order-lg-1">

              <h5 class="mt-0 font-weight-bold mb-2">{{ product.name }}</h5>
              <p class="font-italic text-muted mb-0 small">{{ product.description }}</p>

              <div class="d-flex align-items-center justify-content-between mt-1">

                <h6 class="font-weight-bold my-2">€{{ product.price }}</h6>

                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>

              </div>

            </div>
            <img src="{{ product.image.url }}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>

        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}
