{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
  {% include "users/navbar_top_user.html" %}
{% endblock %}

{% block content %}

    <form class="col-md-4 mt-5 border-bottom border-secondary" method="POST">{% csrf_token %}
      <legend class="border-bottom mb-4 border-secondary text-secondary">Change Email</legend>
      <fieldset>
        {{ form| crispy }}
      </fieldset>

      <div>

        <button class="btn-block btn btn-outline-info type mb-3 mt-3" type="submit">
          Change Email
        </button>

        <button class="btn-block btn btn-outline-danger type mb-5" type="button"
                onclick="location.href='{% url 'user' %}'">
          Dismiss
        </button>

      </div>
    </form>

{% endblock content %}
