{% extends "shop/base.html" %}
{% load crispy_forms_tags %}


{% block navbar %}
  {% include "users/navbar_top_user.html" %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center container align-items-center mt-5">

<form class="col-md-5 mx-auto" method="POST"> {% csrf_token %}
  <legend class="border-bottom mb-4 border-secondary text-secondary">Reset Password</legend>
    <fieldset class="">
      {{ form| crispy }}
    </fieldset>
  <button class="btn btn-outline-info type mb-3" type="submit">Reset Password</button>
</form>

</div>

{% endblock content %}
