{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
  {% include "users/navbar_top_user.html" %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center container align-items-center mt-5">

  <form class="col-md-5 mx-auto border-bottom border-secondary pb-3" method="POST"> {% csrf_token %}
    <legend class="border-bottom mb-4 border-secondary text-secondary">Change Password</legend>
      <fieldset>{{ form| crispy }}</fieldset>

    <button class="btn-block btn btn-outline-info type mt-4 mb-3" type="submit">
      Change Password
    </button>

    <button class="btn-block btn btn-outline-danger type mb-3" type="button"
            onclick="location.href='{% url 'user' %}'">
      Dismiss
    </button>

  </form>

</div>

{% endblock content %}
