{% extends "shop/base.html" %}

{% block content %}

<div class="row col-md-12" style="margin: 0 auto">
<legend class="border-bottom mb-3 border-secondary text-secondary">{{ request.user.username }}:s account</legend>

  <div class="col-md-3 offset-md-9 mb-3 text-right">
    <a href="{% url 'password_change' %}">Change Password</a><br>
  </div>
  <div class="col-md-3 lead">
    Email
  </div>
  <div class="col-md-6 mb-3 lead">
    {{ request.user.email }}
  </div>
  <div class="col-md-3 text-right">
    <a href="{% url 'email_change' %}">Change Email</a><br>
  </div>

  <div class="col-md-3 lead">
    First Name
  </div>
  <div class="col-md-9 mb-3 lead">
    {{ request.user.first_name }}
  </div>
  <div class="col-md-3 mb lead">
    Last Name
  </div>
  <div class="col-md-9 mb-5 lead">
    {{ request.user.last_name }}
  </div>

  <div class="row col-md-12 border border-dark rounded"style="margin: 0 auto">

    <legend class="mt-2 ml-2 text-secondary" style="font-size:24px">Details</legend>
    <div class="col-md-3 font-weight-bold">
      Phone
    </div>
    <div class="col-md-9 mb-3">
      {{ request.user.userdetails.phone|default:"-----" }}
    </div>
    <div class="col-md-3 font-weight-bold">
      Address
    </div>
    <div class="col-md-9 mb-3">
      {{ request.user.userdetails.address|default:"-----" }}
    </div>
    <div class="col-md-3 font-weight-bold">
      Zip Code
    </div>
    <div class="col-md-9 mb-3">
      {{ request.user.userdetails.zip_code|default:"-----"  }}
    </div>
    <div class="col-md-3 font-weight-bold">
      City
    </div>
    <div class="col-md-9 mb-3">
      {{ request.user.userdetails.city|default:"-----"  }}
    </div>
    <div class="col-md-3 font-weight-bold">
      Country
    </div>
    <div class="col-md-6 mb-3">
      {{ request.user.userdetails.country|default:"-----"  }}
    </div>
    <div class="col-md-3 mb-3 text-right">
      <a href="{% url 'details_change' %}">Change Details</a><br>
    </div>
    </div>
  </div>


{% endblock %}
