{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
  {% include "users/navbar_top_user.html" %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center container align-items-center mt-5 mb-5">

  <form class="col-md-5 mx-auto border-bottom border-secondary" method="POST"> {% csrf_token %}

    <legend class="border-bottom mb-4 border-secondary text-secondary">Order - shipping details</legend>
      <fieldset>{{ form| crispy }}</fieldset>

    <button class="btn-block btn btn-outline-info type mb-3 mt-4" type="submit">
      Proceed
    </button>

  </form>

</div>
{% endblock %}
